<div class="container">
  <div class="row">
    <dif class="col">
      <%= render partial: "show_page", locals: {cocktail: @cocktail} %>
    </dif>
  </div>
</div>

<div class="container show-ingrediens pb-5">
  <div class="row">
    <div class="col">
    <h3>Ingredients:</h3>
     <% @cocktail.doses.each do |dose| %>
     <div>
      <div class="card-product">
        <img src= <%= dose.ingredient.img_url %> />
        <div class="card-product-infos">
          <h2><%= dose.ingredient.name %></h2>
          <p><strong><%= dose.description %></strong></p>
          <%= link_to "Delete", dose_path(dose),
            method: :delete,
            data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm mt-2"%>
        </div>
      </div>
     </div>
    <% end %>
    </div>
  </div>
  <div class="col-3 d-flex justify-content-between mt-5 p-0">
    <%= link_to "Back to list", root_path, class: "btn btn-outline-light"%>
    <%= link_to "Add dring", new_cocktail_dose_path(@cocktail), class: "btn btn-outline-warning"%>
  </div>
</div>


