<div class="container">
  <div class="row">
    <div class="offset-3 col-6">
      <%= simple_form_for ([@cocktail, @dose]) do |f| %>
        <%= f.input :description %>
        <%= f.association :ingredient %>
         <div class="d-flex justify-content-between">
          <%= link_to "Back to list", root_path, class: "btn btn-primary" %>
          <%= f.button :submit, class: "btn btn-warning" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
