<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <%= simple_form_for ([@cocktail, @dose]) do |f| %>
        <%= f.input :description %>
        <%= f.association :ingredient %>
         <div class="d-flex justify-content-between">
          <%= link_to "Back", @cocktail, class: "btn btn-outline-light" %>
          <%= f.button :submit, class: "btn btn-outline-warning" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
